<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=10.19.150.16;Initial Catalog=DBNegocio;User ID=sa;pwd=QA*2016" />
  </connectionStrings>
  <appSettings>
    <!--CONFIGURACION AD-->
    <add key="IPAD" value="LDAP://10.19.150.3" />
    <!--CONFIGURACION AD-->
    <!--CONFIGURACION DE CORREO-->
    <add key="SMTP" value="smtp-relay.sendinblue.com" />
    <add key="PUERTO" value="587" />
    <add key="CORREO" value="soylucasinformacion@soylucas.com.pe" />
    <add key="CORREO_CREDENCIALES" value="napoleon.silva@tibox.com.pe"/>
    <add key="CLAVE_CREDENCIALES" value="47kSKvyRP5tQq89N"/>
    <add key="NOMBRE" value="SoyLucas"/>
    <!--CONFIGURACION DE CORREO-->
    <!--CONFIGURACION REPORTE-->
    <add key="DOMINIO" value="INVERSIONES"/>
    <add key="USER_REPORTE" value="sqlaudigy!"/>
    <add key="PASS_REPORTE" value="Sagitari01512"/>
    <!--CONFIGURACION REPORTE-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization uiCulture="es-PE" culture="es-PE" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<httpProtocol>
      <customHeaders>
        
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IwsCPD" />
        <binding name="BasicHttpBinding_IwsPreAprobacion" />
        <binding name="BasicHttpBinding_IwsScoreBuro" />
        <binding name="BasicHttpBinding_IwsScoreDemografico" />
        <binding name="BasicHttpBinding_IwsScoreLenddo" />
        <binding name="BasicHttpBinding_IScoringBuro" />
        <binding name="BasicHttpBinding_IwsScoringDemografico" />
        <binding name="BasicHttpBinding_IwsScoringValidacionReglas" />
        <binding name="BasicHttpBinding_IngresoPredecido" />
        <binding name="BasicHttpBinding_IwsScoreComportamiento" />
        <binding name="wsSMSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.19.150.196:1015/wsSms.asmx" binding="basicHttpBinding"
        bindingConfiguration="wsSMSSoap" contract="wsSms.wsSMSSoap"
        name="wsSMSSoap" />
      <endpoint address="http://10.19.150.20:3000/wsScoringBuro.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScoringBuro"
        contract="wsScoringBuro.IScoringBuro" name="BasicHttpBinding_IScoringBuro" />
      <endpoint address="http://10.19.150.20:3000/wsScoringDemografico.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsScoringDemografico"
        contract="wsScoringDemografico.IwsScoringDemografico" name="BasicHttpBinding_IwsScoringDemografico" />
      <endpoint address="http://10.19.150.20:3000/wsScoringValidacionReglas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsScoringValidacionReglas"
        contract="wsScoringValidacionReglas.IwsScoringValidacionReglas"
        name="BasicHttpBinding_IwsScoringValidacionReglas" />
      <endpoint address="http://10.19.150.16:1711/wsCPD.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IwsCPD" contract="wsCPD.IwsCPD"
        name="BasicHttpBinding_IwsCPD" />
      <endpoint address="http://10.19.150.16:1711/wsIngresoPredecido.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IngresoPredecido"
        contract="wsIngresoPredecido.IngresoPredecido" name="BasicHttpBinding_IngresoPredecido" />
      <endpoint address="http://10.19.150.16:1711/wsPreAprobacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsPreAprobacion"
        contract="wsPreAprobacion.IwsPreAprobacion" name="BasicHttpBinding_IwsPreAprobacion" />
      <endpoint address="http://10.19.150.16:1711/wsScoreBuro.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsScoreBuro"
        contract="wsScoreBuro.IwsScoreBuro" name="BasicHttpBinding_IwsScoreBuro" />
      <endpoint address="http://10.19.150.16:1711/wsScoreComportamiento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsScoreComportamiento"
        contract="wsScoreComportamiento.IwsScoreComportamiento" name="BasicHttpBinding_IwsScoreComportamiento" />
      <endpoint address="http://10.19.150.16:1711/wsScoreDemografico.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsScoreDemografico"
        contract="wsScoreDemografico.IwsScoreDemografico" name="BasicHttpBinding_IwsScoreDemografico" />
      <endpoint address="http://10.19.150.16:1711/wsScoreLenddo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsScoreLenddo"
        contract="wsScoreLenddo.IwsScoreLenddo" name="BasicHttpBinding_IwsScoreLenddo" />
    </client>
  </system.serviceModel>
</configuration>
